@tailwind base;
@tailwind components;
@tailwind utilities;

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button{
  appearance: none;
}

/* *{
  border:1px solid red
} */

html, body{
  font-family: var(--font-sora-mono);  
  @apply overflow-x-hidden;
}


/* Vec_enhanced.jpg */

.bg{
  background-image: url(/bg.svg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.bg2{
  background-color: #0a0a0a;
}

.maskk{
  mask-image: url(/Smoke.gif);
  mask-size: cover;
  mask-position: center;
}

.bg3{
  background-image: url(/slide10.png);
  background-size:cover;
  background-attachment: scroll;
  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
}

.bg4{
  background-image: url(/Thumb.jpg);
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: min-content;
  background-repeat: no-repeat;
  background-position: top;
}

.bg5{
  background-image: url(/Contactus.jpg);
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: min-content;
  background-repeat: no-repeat;
  background-position: center;
}

.bg6{
  background-image: url(/aboutus2.jpg);
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: min-content;
  background-repeat: no-repeat;
  background-position:top;
}

.bg7{
  background-image: url(/faq1.jpg);
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: min-content;
  background-repeat: no-repeat;
  background-position:top;
  mix-blend-mode: multiply;
}

.bg8{
  background-image: url(/terms.jpg);
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: min-content;
  background-repeat: no-repeat;
  background-position:center;
  mix-blend-mode: multiply;
}

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
    

.bluePrint{
  color: #6699CC;
  background-color:#ededa7;
}

.border1{
  border-color:#ededa7;
}

.PhoneInputInput:focus-visible {
  flex: 1;
  min-width: 0;
  border: none;
  outline: none;
}

.PhoneInputInput{
  background-color: #f8fafc;
  font-size: 13px;
}

.PhoneInputInput::placeholder{
  color: #64748b;
  opacity: 0.7;
  font-size: 13px;
  line-height: 1.25rem; /* 20px */
  
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  display: grid;
  --mask: 
    radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
    radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
  -webkit-mask: var(--mask);
          mask: var(--mask);
  -webkit-mask-composite: source-in;
          mask-composite: intersect;
  animation: l1 1s infinite alternate;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
}
.loader:after {
  margin-left: auto;
}
@keyframes l1 {
  to {
    width: 40px;
  }
}


/* Loader styles */
.button-loader {
  display: flex;
  align-items: center;
  gap: 4px;
}

.button-loader span {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}

.button-loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.button-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  40% {
    transform: scale(1.2);
    opacity: 1;
  }
}

/* .input-phone-number input:focus{
  outline:none !important;
  border:none !important;
  box-shadow: none !important;
 
} */

/* .input-phone-number input {
  background-color: #f8fafc;

} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


@media (min-width: 1024px) and (max-width: 1439px) {
  .profile {
    width: 100%;
    height: fit-content;
    padding: 5px;
  }

  .vest{
   display: flex;
   flex-direction: column;
   gap: 5px;
  }

  .top{
    padding: 6px;
  }

  .img{
    width: 80%;
    height: 80%;
  }
  
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .bar {
    width: 17rem;
  }

  .chart {
    width: 17rem;
  }

  .sharp {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


body {
  font-family: Arial, sans-serif;
}

.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


@keyframes slideLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
}

.animate-slideLeft {
  animation: slideLeft 1s infinite alternate;
}

.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-300 {
  animation-delay: 0.3s;
}



@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0.5;
  }
}

.animate-slideDown {
  animation: slideDown 1s infinite alternate;
}

.delay-down-100 {
  animation-delay: 0.1s;
}
.delay-down-200 {
  animation-delay: 0.2s;
}
.delay-down-300 {
  animation-delay: 0.3s;
}
